
<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE HTML>
<html>
<head>
    <title>Free Vloader Web Template | Home :: w3layouts</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="content/style.css" rel="stylesheet" type="text/css" media="all" />
</head>
<body>
    <div class="header">
        <div class="wrap pos-relative">
            <div class="logo">
                <a href="index.html"><img src="content/images/Plays.png" alt="" /></a>
            </div>
            <div class="float-left">
             
                <div class="clear"></div>
                <div class="search">
                    <form action="#">
                        <input type="text" value="" />
                        <input type="submit" value="" />
                    </form>
                </div>
            </div>
            <div class="float-right">
                <div class="top-menu">
                    <ul>
                        <li><a href="#">Sign Up</a></li>
                        <li><a href="#">Login</a></li>
                        <li><a href="feedback.html">Feedback</a></li>
                    </ul>
                </div>
                <div class="clear"></div>
                <div class="menu">
                    <ul>
                        <li>
                            <a href="#">Categories <span></span></a>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Television</a></li>
                                    <li><a href="#">Sports</a></li>
                                    <li><a href="#">Science</a></li>
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Pets</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Music</a></li>
                                    <li><a href="#">Movies</a></li>
                                    <li><a href="#">Comedy</a></li>
                                    <li><a href="#">Animation</a></li>
                                    <li><a href="#">Games</a></li>
                                    <li><a href="#">Autos</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">Channels <span></span></a>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Television</a></li>
                                    <li><a href="#">Sports</a></li>
                                    <li><a href="#">Science</a></li>
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Pets</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Music</a></li>
                                    <li><a href="#">Movies</a></li>
                                    <li><a href="#">Comedy</a></li>
                                    <li><a href="#">Animation</a></li>
                                    <li><a href="#">Games</a></li>
                                    <li><a href="#">Autos</a></li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <a href="#">More <span></span></a>
                            <div class="sub-menu">
                                <ul>
                                    <li><a href="#">News</a></li>
                                    <li><a href="#">Television</a></li>
                                    <li><a href="#">Sports</a></li>
                                    <li><a href="#">Science</a></li>
                                    <li><a href="#">Business</a></li>
                                    <li><a href="#">Pets</a></li>
                                </ul>
                                <ul>
                                    <li><a href="#">Music</a></li>
                                    <li><a href="#">Movies</a></li>
                                    <li><a href="#">Comedy</a></li>
                                    <li><a href="#">Animation</a></li>
                                    <li><a href="#">Games</a></li>
                                    <li><a href="#">Autos</a></li>
                                </ul>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="clear"></div>
    <div class="wrap">
        <div class="content">
            <div class="vdo-log margin_bottom">
                <div class="video-player"><img src="content/images/video-player.jpg" alt="video" /></div>
                <div class="clear"></div>
            </div>
            <div class="vdo-log">
                <div class="heading"><h2>Most <span>Recent</span></h2></div>
                <div class="vdo-list">
                    <div class="vdo-thumb">
                        <a href="" style="background-image:url(http://lorempixel.com/125/100);"><span>02:56</span></a>
                    </div>
                    <div class="vdo-info">
                        <div class="vdo-title"><a href="preview.html"><h3>Revenge Of The Penguin - Part 1</h3></a></div>
                        <div class="vdo-desc">This got some cool moves. See for yourself how he fights for his girl.This got some cool moves. See for yourself how he fights for his girl.This got some cool moves. See for yourself how he fights for his girl.</div>
                        <div class="vdo-detail">10 minutes ago <span>|</span> 562 <a href="">Downloads</a> <span>|</span> 15,639 views</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="vdo-list">
                    <div class="vdo-thumb">
                        <a href="" style="background-image:url(http://lorempixel.com/125/100);"><span>02:56</span></a>
                    </div>
                    <div class="vdo-info">
                        <div class="vdo-title"><a href="preview.html"><h3>Revenge Of The Penguin - Part 1</h3></a></div>
                        <div class="vdo-desc">This got some cool moves. See for yourself how he fights for his girl.This got some cool moves. See for yourself how he fights for his girl.This got some cool moves. See for yourself how he fights for his girl.</div>
                        <div class="vdo-detail">10 minutes ago <span>|</span> 562 <a href="">Downloads</a> <span>|</span> 15,639 views</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="vdo-list">
                    <div class="vdo-thumb">
                        <a href="" style="background-image:url(http://lorempixel.com/125/100);"><span>02:56</span></a>
                    </div>
                    <div class="vdo-info">
                        <div class="vdo-title"><a href="preview.html"><h3>Revenge Of The Penguin - Part 1</h3></a></div>
                        <div class="vdo-desc">This got some cool moves. See for yourself how he fights for his girl.This got some cool moves. See for yourself how he fights for his girl.This got some cool moves. See for yourself how he fights for his girl.</div>
                        <div class="vdo-detail">10 minutes ago <span>|</span> 562 <a href="">Downloads</a> <span>|</span> 15,639 views</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="vdo-list">
                    <div class="vdo-thumb">
                        <a href="" style="background-image:url(http://lorempixel.com/125/100);"><span>02:56</span></a>
                    </div>
                    <div class="vdo-info">
                        <div class="vdo-title"><a href="preview.html"><h3>Revenge Of The Penguin - Part 1</h3></a></div>
                        <div class="vdo-desc">This got some cool moves. See for yourself how he fights for his girl.This got some cool moves. See for yourself how he fights for his girl.This got some cool moves. See for yourself how he fights for his girl.</div>
                        <div class="vdo-detail">10 minutes ago <span>|</span> 562 <a href="">Downloads</a> <span>|</span> 15,639 views</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="vdo-list">
                    <div class="vdo-thumb">
                        <a href="" style="background-image:url(http://lorempixel.com/125/100);"><span>02:56</span></a>
                    </div>
                    <div class="vdo-info">
                        <div class="vdo-title"><a href="preview.html"><h3>Revenge Of The Penguin - Part 1</h3></a></div>
                        <div class="vdo-desc">This got some cool moves. See for yourself how he fights for his girl.This got some cool moves. See for yourself how he fights for his girl.This got some cool moves. See for yourself how he fights for his girl.</div>
                        <div class="vdo-detail">10 minutes ago <span>|</span> 562 <a href="">Downloads</a> <span>|</span> 15,639 views</div>
                    </div>
                    <div class="clear"></div>
                </div>
                <div class="clear"></div>
                <div class="page-nav">
                    <ul>
                        <li><a href="#">&laquo; Prev</a></li>
                        <li><span class="current">1</span></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">Next &raquo;</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="float-left">
            <div class="sidebox-one">
                <div class="sidebox-image"><img src="content/images/ad_250x300.png" alt="ad" /></div>
                <div class="sb-stats">
                    <div class="sb-stats-logo"><img src="content/images/users.jpg" alt="users" /></div>
                    <div class="sb-stats-text">1,00,000 <span>Searchers</span></div>
                    <div class="sb-stats-text">5,00,000 <span>Downloads</span></div>
                    <div class="sb-stats-text">30,000 <span>Views</span></div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
        <div class="footer">
            <div class="footer-block">
                <div class="heading3">Home</div>
                <div class="footer-list">
                    <ul>
                        <li><a href="#">Home</a></li>
                        <li><a href="#">Categories</a></li>
                        <li><a href="#">Channels</a></li>
                        <li><a href="#">Terms and Conditions</a></li>
                        <li><a href="#">Sitemap</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-block">
                <div class="heading3">Top Categories</div>
                <div class="footer-list">
                    <ul>
                        <li><a href="#">Hollywood</a></li>
                        <li><a href="#">Sports</a></li>
                        <li><a href="#">Animation</a></li>
                        <li><a href="#">Movies</a></li>
                        <li><a href="#">Comedy</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-block">
                <div class="heading3">Most Rated</div>
                <div class="footer-list">
                    <ul>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Aenean quis turpis</a></li>
                        <li><a href="#">eget sagittis risus</a></li>
                        <li><a href="#">sollicitudin dui</a></li>
                        <li><a href="#">vel varius felis</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-block">
                <div class="heading3">Our Sponsers</div>
                <div class="footer-list">
                    <ul>
                        <li><a href="#">Lorem ipsum dolor</a></li>
                        <li><a href="#">Aenean quis turpis</a></li>
                        <li><a href="#">eget sagittis risus</a></li>
                        <li><a href="#">sollicitudin dui</a></li>
                        <li><a href="#">vel varius felis</a></li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
            <div class="sub-footer">
                <div class="copy">&copy;  All Rights Reserved - Design by <a href="http://w3layouts.com">W3Layouts</a></div>
            </div>
        </div>
        <div class="clear"></div>
    </div>
</body>
</html>
